body{
  background-color: rgb(197, 226, 236);
  height: 600px;
  margin: 0;
}

.heading{
  font-size: 12;
  font-family: 'Raleway', sans-serif;
}

#welcome{
  display:block;
}

.name{
  color: navy;
  font-size: 14;
}

.text{
  font-size: 10;
  font-family: 'Raleway', sans-serif;
}

.aboutme{
  display:grid;
  grid-template-columns: 1fr 2fr;
  height:auto;
  width:80%;
  padding-left: 15%;
  padding-right: 15%;
}

#item1{
  border-radius:25%;
  margin-right: 20px;
  height: 200px;
  align-self: end;
}

#item2{
  margin-left:0;
  justify-self: top;
  height: 300px;
}

#header{
  /* display: flex; */
  height: 200px;
  width:300px;
  border-radius: 30%;
  border: 5px solid rgb(0, 77, 128);
  margin-left:50%;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 0px;;
  justify-content: center;
  align-items: center;
}